* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}
  
body {
    background-color: #131418;
    color: white;
}

.theme {
    position: fixed;
    cursor: pointer;
    top: 6.5px;
    left: 5px;
    padding: 5px;
}


.mainheader {
    line-height: 38px;
    margin: 0;
    width: 100%;
    height: 35px;
    text-align: center;
    border-top: 4px solid #4ea7a2;
    border-bottom: 4px solid #4ea7a2;
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
}

#toggle-theme-button {
    position: absolute;
    top: 0px;
    width: 80px;
    height: 35px;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    text-align: center;
    transition: border 0.25s ease;
    border: 4px solid #4ea7a2;
}

#toggle-theme-button:hover {
    border: 4px solid #6ccfca;
}

section, article {
    width: 969px;
    background-color: #1c1d22;
    border: 3px solid #2e6461;
    border-radius: 7px;
    margin: 25px auto;
    padding: 20px;
    font-family: "Roboto","Arial",sans-serif;
    font-size: 17px;
}

section p, article p {
    padding-bottom: 10px;
    line-height: 1.4;
}
.nav {
    display: flex;
    justify-content: center;
}

.nav .navblock-1, .nav .navblock-2 {
    margin-top: 10px;
    width: 489.45px;
    height: 57px;
    background-color: #1c1d22;
    border: 3px solid #2e6461;
    padding: 5px ;
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    text-align: center;
    line-height: 65px;
    transition: color 0.35s ease;
    transition: border 0.35s ease;
}

.nav .navblock-1 {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.nav .navblock-2 {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.smalltext {
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
}

.topics {
    display: flex;
    justify-content: center;
}
.html-topics, .css-topics {
    width: 505.45px;
}
.topic {
    height: 57px;
    background-color: #1c1d22;
    border: 3px solid #2e6461;
    border-radius: 5px;
    padding: 5px;
    margin: 25px;
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    text-align: center;
    transition: color 0.35s ease;
    transition: border 0.35s ease;
}

.home {
    width: 800px;
    height: 57px;
    background-color: #1c1d22;
    border: 3px solid #2e6461;
    border-radius: 5px;
    padding: 5px;
    margin: 0 auto;
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    text-align: center;
    line-height: 57px;
    transition: color 0.35s ease;
    transition: border 0.35s ease;
}

.home:hover {
    height: 57px;
    border: 3px solid #4ea7a2;
    background-color: #292e2e;
    padding: 5px ;
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    color: rgb(165, 223, 220);
    text-align: center;
}

.topic:hover {
    height: 57px;
    border: 3px solid #4ea7a2;
    background-color: #292e2e;
    padding: 5px ;
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    color: rgb(165, 223, 220);
    text-align: center;
}
.active {
    height: 57px;
    background-color: #292e2e;
    border: 3px solid #4ea7a2;
    border-radius: 5px;
    padding: 5px;
    margin: 25px;
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    text-align: center;
}
.del {
    color:white;
    text-decoration: none;
}

h2 {
    margin-bottom: 6px;
}

.code {
    color: rgb(52, 207, 200);
    background-color: #292e2e;
    padding: 0px 7px;
    border-radius: 5px;
}

img {
    display: block;
    margin: 10px auto;
    border: 2px solid #2e6461;
    border-radius: 7px;
    padding: 3px;
}

h2, h1 {
    color: #4ea7a2;
}

h3 {
    color: #4ea7a2;
    margin:  10px 0px;
}

ul {
    font-size: 17px;
    list-style-type: none;
}

ol {
    font-size: 17px;
}

li {
    margin-bottom: 10px;
    border-bottom: 2px solid #2e6461;
}

hr {
    border: none;
    background-color: #2e6461;
    color: #2e6461;
    height: 1px;
    margin-bottom: 10px;
}

.center {
    width: 80%;
    display: block;
    margin: 0 auto;
}

.up {
    width: 800px;
    height: 57px;
    background-color: #1c1d22;
    border: 3px solid #2e6461;
    border-radius: 5px;
    padding: 5px;
    margin: 0px auto;
    margin-bottom: 20px;
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    text-align: center;
    line-height: 57px;
    transition: color 0.35s ease;
    transition: border 0.35s ease;
}

.up:hover {
    height: 57px;
    border: 3px solid #4ea7a2;
    background-color: #292e2e;
    padding: 5px ;
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    color: rgb(165, 223, 220);
    text-align: center;
}

input, textarea {
    background-color: #1c1d22;
    color: white;
    border: 2px solid #2e6461;
    border-radius: 5px;
    margin-bottom: 3px;
}

.footer {
    border-top: 2px solid #292e2e;
    padding: 15px 100px;
    color: #5a6464;
    font-family: "Roboto","Arial",sans-serif;
}